* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro SC, SF Pro Text, SF Pro Icons, PingFang SC, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/*顶部logo设置以及右侧响应式菜单栏触发器*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

/*logo左侧白色字体部分*/
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

/*logo右侧黄色字体部分*/
header .hublogo {
    background: #FF9900;
    border-radius: 12px;
    display: inline-block;
    padding: 5px;
    color: #000;
}

/*顶部右侧菜单栏触发器样式*/
header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*触发器before状态*/
header #toggle:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

/*触发器after状态*/
header #toggle:after {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

/*正文section样式在菜单栏触发器before状态位移*/
.banner.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

/*正文section样式在菜单栏触发器after状态位移*/
.banner.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/*正文section样式*/
.banner {
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background: url("../images/bgmain.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

/*正文触发器活跃状态*/
.banner.active {
    transform: translateX(-400px);
}

/*右侧菜单栏父级样式*/
#navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

/*右侧菜单栏触发器活跃状态*/
#navigation.active {
    right: 0;
}

/*菜单栏子级样式*/
#navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*清除菜单栏自带样式*/
#navigation ul li {
    list-style: none;
}

/*菜单栏文字样式*/
#navigation ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

/*正文介绍部分样式*/
.content {
    max-width: 600px;
}

.content h2 {
    color: #fff;
    font-size: 2.5em;
}

/*正文中名字部分*/
.content h2 span {
    color: #40c3ff;
    font-size: 1.2em;
}

.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

/*右侧联系方式按钮样式*/
.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: #fff;
}

.sci li a img {
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}

/*媒体查询不同参数设置不同页面显示效果*/
@media (max-width: 767px) {
    header {
        padding: 20px 50px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .banner p {
        font-size: 1em;
    }
    .banner a {
        font-size: 1em;
    }
    .banner.active {
        transform: translateX(-250px);
    }
    #navigation {
        width: 250px;
    }
    #navigation ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}

